/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    @responsive {
        .top-25 { top:25% }
        .top-50 { top: 50%; }

        .right-25 { right: 25%; }
        .right-50 { right: 50%; }

        .bottom-25 { bottom: 25%; }
        .bottom-50 { bottom: 50%; }

        .left-25 { left: 25%; }
        .left-50 { left: 50%; }


        
        .aspect-square:before,
        .aspect-1\/1:before,
        .aspect-2\/3:before, 
        .aspect-3\/2:before,
        .aspect-4\/5:before,
        .aspect-5\/4:before,
        .aspect-9\/16:before,
        .aspect-video:before,
        .aspect-16\/9:before{
            content: '\0020';
            display: block;
        }



        .aspect-none:before{
            display: none;
            padding-top: 0;
        }
        .aspect-square:before,
        .aspect-1\/1:before {
            padding-top: 100%;
        }
        .aspect-2\/3:before {
            padding-top: calc(100% * calc(2 / 3));
        } 
        .aspect-3\/2:before {
            padding-top: calc(100% * calc(3 / 2));
        } 
        .aspect-4\/5:before {
            padding-top: calc(100% * calc(4 / 5));
        }
        .aspect-5\/4:before {
            padding-top: calc(100% * calc(5 / 4));
        }
        .aspect-video:before,
        .aspect-9\/16:before {
            padding-top: calc(100% * calc(9 / 16));
        }
        .aspect-16\/9:before {
            padding-top: calc(100% * calc(16 / 9));
        }

        .blur-1{ filter: blur(4px); }
        .blur-2{ filter: blur(8px); }
        .blur-3{ filter: blur(12px); }
        .blur-4{ filter: blur(16px); }



        .rounded-br-3xl,
        .rounded-b-3xl{
            border-bottom-right-radius: 1.5rem;
        }
        .rounded-bl-3xl,
        .rounded-b-3xl{
            border-bottom-left-radius: 1.5rem;
        }


        .rounded-br-6xl,
        .rounded-b-6xl{
            border-bottom-right-radius: 8rem;
        }
        .rounded-bl-6xl,
        .rounded-b-6xl{
            border-bottom-left-radius: 8rem;
        }

        
        @variants hover, focus {
            .bg-brand-blue{
                --tw-bg-opacity: 1;
                background-color: rgba(55,88,249,var(--tw-bg-opacity));
            }
            .bg-brand-green {
                --tw-bg-opacity: 1;
                background-color: rgba(22,200,190,var(--tw-bg-opacity));
            }

            .stroke-brand-blue,
            .stroke-brand-green{
                border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%;
                --tw-bg-opacity: 1;
            }
    
            .stroke-brand-green{
                background-color: rgba(22,200,190,var(--tw-bg-opacity));
            }
    
            .stroke-brand-blue{
                background-color: rgba(55,88,249,var(--tw-bg-opacity));
            }

            .text-brand-blue {
                color: rgba(55,88,249,var(--tw-bg-opacity));
            }
        }
    }

    @variants focus {
        .submit-button {
            @apply outline-none;
        }
    }

    @variants hover {
        .submit-button {
            @apply bg-indigo-900;
        }
    }
}